body{
	margin: 0;
	padding: 0;
}
#wallpaper7{
	width: 2560px;
	height: 1440px;
	margin: 0;
	padding: 0;
	top: 8640px;
	background-color: #000000;
}
#main6{
	width: 214px;
	height: 317px;
	position: absolute;
	left: 400px;
	top: 8940px;
}
#act6{
	width: 214px;
	height: 317px;
}
#name7{
	width: 800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 8880px;
}
#role7{
	width:800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 8960px;
}
#para7{
	width: 1400px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9030px;
}
#main7{
	width: 214px;
	height: 317px;
	position: absolute;
	left: 400px;
	top: 9307px;
}
#act7{
	width: 214px;
	height: 317px;
}
#name8{
	width: 800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9247px;
}
#role8{
	width:800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9327px;
}
#para8{
	width: 1400px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9407px;
}
#main8{
	width: 214px;
	height: 317px;
	position: absolute;
	left: 400px;
	top: 9674px;
}
#act8{
	width: 214px;
	height: 317px;
}
#name9{
	width: 800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9614px;
}
#role9{
	width:800px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9694px;
}
#para9{
	width: 1400px;
	height: 200px;
	position: absolute;
	left: 700px;
	top: 9774px;
}